<!DOCTYPE html>
<html ng-app="gitHubUserList">
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/userListController.js"></script>
    <script type="text/javascript" src="js/factories/UserFactory.js"></script>

  </head>
  <body>
    <div id="github-search" ng-controller="gitHubUserController as controller">
      <label>Filter users with this box</label>
      <input type="text" id="name-search" value="" ng-model="searchTerm">
      <ul id="user-list">
        <li ng-repeat="users in controller.users | filter:searchTerm">
          <strong>Username:</strong> {{users.username}}
          <strong>Avatar:</strong> {{users.avatar}}
          <strong>Followers:</strong> {{users.followers}}
          <strong>Repos:</strong> {{users.repos}}
        </li>
      </ul>
    </div>
  </body>
</html>
