<!DOCTYPE html>
<html ng-app="gitHubUserList">
  <head>
    <meta charset="utf-8">

    <title>Github User Search</title>

    <!--- Scripts -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/userListController.js"></script>
    <script type="text/javascript" src="js/factories/UserFactory.js"></script>

    <!-- Stylesheets & Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheet/main.css">
  </head>

  <body>
    <div id="github-search" ng-controller="gitHubUserController as controller">
      <div id="search-box">
        <label id="search-text">GitHub User Search: </label>
        <input id="name-search" type="text" value="" ng-model="searchTerm">
      </div>
      <div class="users">
        <ul id="user-list">
          <div class="user-box" ng-repeat="users in controller.users | filter:searchTerm">
            <div class="user-box-avatar">
              <strong>Avatar:</strong> {{users.avatar}}
              <div class="user-img-example">test</div>
            </div>
            <div class="user-box-other">
              <strong>Username:</strong> {{users.username}}
              <strong>Followers:</strong> {{users.followers}}
              <strong>Repos:</strong> {{users.repos}}
            </div>
            <div class="user-box-right">
            </div>
          </div>
        </ul>
      </div>
    </div>
  </body>
</html>
